/* CSS for RED+ Help: v25.11.29a */
html * {font-family: Arial, sans-serif;}
h1,h2,h3 {text-decoration: underline;}
figure {display: table;}
figure img {text-align: left;}
figcaption {display: table-caption; caption-side: bottom; color: Blue; background-color: LightGrey; font-weight: bold; padding-left: 0.5em; width: auto;}
code {font-family: Consolas,"courier new"; color: Black; background-color: GhostWhite; border: 1px solid Grey; padding: 8px; margin: 8px;}

.narrow-body {max-width: 800px; margin: 0 auto;}
.footer {position: fixed; left: 0; bottom: 0; width: 100%; background-color: LightBlue; color: White; text-align: center;z-index: 999;}
.moddate {font-size: xx-small;}
.indent1 {margin-left: 2em;}
.fal {float:left;}
.far {float:right;}
.red {font-weight: bold; color: red;}
.imgx {width: 75%; transition: all 0.2s ease;}
.imgx:hover {position: static; height: auto; width: auto;}
.hint { color: Grey; font-size: x-small; font-weight: bold; text-transform: uppercase;}
.nb { font-size: x-small; font-weight: bold; text-transform: uppercase;}
.eg {font-size: x-small;}
.sx {font-size: medium; font-weight: bold;}
.logo { padding-left: 15px;}
.changelog {font-size: small;}

/* Sidebar Menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: WhiteSmoke;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 20px;
  text-decoration: none;
  font-size: medium;
  color: DarkGrey;
  display: block;
}
.sidenav a:hover {color: Red;}
/* main should be the same width as sidenav */
.main {margin-left: 200px;}
.sidenav li {color: Black;}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}